<ion-view view-title="Configurações">
  <ion-content ng-controller="BusCtrl" >
    <ion-list>
      <div class="item item-divider">Debug</div>
      <ion-toggle class="item item-icon-left item-icon-right" ng-model="settings.monitor">
        <i class="icon ion-eye balanced"></i> Monitor
      </ion-toggle>
      <ion-toggle class="item item-icon-left item-icon-right" ng-model="settings.force">
        <i class="icon ion-hammer balanced"></i> Force
      </ion-toggle>

    </ion-list>
  </ion-content>
</ion-view>
