<ion-view view-title="Configurações">
    <ion-content>
        <ion-list>
            <ion-toggle  class="item item-icon-left item-icon-right" ng-model="settings.enableFriends">
                <i class="icon ion-locked balanced"></i>
                Permitir coleta de dados anônimo
            </ion-toggle>

            <ion-toggle  class="item item-icon-left item-icon-right" ng-model="settings.enableGPS">
                <i class="icon ion-map balanced"></i>
                Monitorar usando GPS
            </ion-toggle>

        </ion-list>
    </ion-content>
</ion-view>
