<ion-view view-title="Musikais Curitiba">
    <ion-content scroll="false">
        <div class="list card">

            <div class="item item-avatar">
                <a class="button button-light icon ion-play buttom-play"></a>
                <h2>Jardim Botânico</h2>
                <p><i>Parque / Chuvoso / Tarde</i></p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/f2.jpg">
                <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 120px">
                    <p>
                        O Jardim Botânico de Curitiba foi inaugurado em 1991, com uma área de 245 mil m². Seus jardins geométricos e a estufa de três abóbadas tornaram-se um dos principais cartões postais de Curitiba.
                        
                        A estufa abriga plantas características da floresta atlântica do Brasil. Sua arquitetura, em estrutura metálica e estilo art-noveau, foi inspirada em um palácio de cristal que existiu em Londres, no século 19.
                    </p>    
                </ion-scroll>
                

            </div>
            
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsdown"></i> 
                </a>
            </div>

        </div>
        
    </ion-content>
    <div class="footer button-bar">
        
    </div>
</ion-view>
